*{
    margin: 0;
    padding: 0;
    background-color: none;
    color: none;
    font-family: "Poppins", sans-serif;
}

/* Header wala area */
.upper-section{
    background-image: url(./images/background-img.jpg);
    background-repeat: no-repeat;
    color: white;
    background-color: rgb(37, 37, 37);
    background-size: cover;
    /* margin-top: 15px; */
    width: 100%;
    height: 650px;
}

.upper-section > .nav-bar{
    background-color: transparent;
}

.upper-section > div > h1, .navigation-bar{
    display: inline;
}

.upper-section > h1{
    margin-left: 30px;
}

.navigation-bar{
    margin-left: 450px;
}

.navigation-bar a{
    text-decoration: none;
    margin-left: 35px;
    font-size: 17px;
    color: white;
}

.hello{
    width: 350px;
    margin-left: 120px;
    margin-top: 60px;
}

.hello > p{
    font-size: 60px;
}

#name{
    color: crimson;
}

.hello > #portfolio-btn{
    background-color: transparent;
    padding: 10px 40px;
    border-color: crimson;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

/* Main Portion */
.middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.services{
    width: 500px;
}

#services-heading{
    font-size: 40px;
    text-align: center;
}

#services-related{
    text-align: center;
}